// TYPOGRAPHY
$SERIF_STACK: 'Literata', serif;

$SCALE_FACTOR: 1;
$font-size-extra-small: 12px * $SCALE_FACTOR;
$font-size-small: 14px * $SCALE_FACTOR;
$font-size-body: 16px * $SCALE_FACTOR;
$font-size-medium: 22px * $SCALE_FACTOR;
$font-size-h2: 32px * $SCALE_FACTOR;
$font-size-h1: 54px * $SCALE_FACTOR;

// COLORS
// ==> E-INK
$black: rgb(34, 31, 32); //#221F20
$white: rgb(245, 244, 238); //#F5F4EE
$grey: rgb(224, 222, 215); // #DFDDD6
$transparent-grey: rgba(224, 222, 215, 0.95);

$border-style: 1px solid $black;

$FONT_SIZE_SMALL: 12px;
$FONT_SIZE_BASE: 18px;
$FONT_SIZE_MEDIUM: $FONT_SIZE_BASE;
$FONT_SIZE_LARGE: $FONT_SIZE_BASE;

// COLOR
$COLOR_DARK: rgb(14, 13, 13);
$COLOR_MID: rgb(196, 199, 193);
$COLOR_LIGHT: rgb(226, 229, 223);
$COLOR_DARK_OPACITY: rgba(0, 0, 0, 0.8);
$COLOR_MID_1: rgb(197, 197, 197);
$COLOR_MID_15: rgb(187, 187, 187);
$COLOR_MID_2: rgb(153, 153, 153);
$COLOR_MID_3: rgb(85, 85, 85);



// SPACING
$SPACE_BASE: 12px;
$SPACE_XS: $SPACE_BASE / 2;
$SPACE_S: $SPACE_BASE;
$SPACE_M: $SPACE_BASE * 1.5;
$SPACE_L: $SPACE_BASE * 2;

$ITEM_HEIGHT: $SPACE_BASE * 5;

$border_radius: 4px;

// TRANSITIONS
$transition: cubic-bezier(0.23, 1, 0.32, 1);

// RESPONSIVE
$breakpoints: (
  "small": (
    max-width: 800px,
  ),
  "medium": (
    max-width: 1000px,
  ),
  "large": (
    max-width: 1600px,
  ),
  "short": (
    max-height: 700px,
  ),
);

/// Responsive manager.
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin screen-size($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. ' + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

@mixin hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

@mixin text {
  .text{
  padding: $SPACE_M $SPACE_M 0 $SPACE_M;
  font-family: $SERIF_STACK;
  font-size: $FONT_SIZE_BASE;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  
  @include screen-size("small") {
    padding-bottom: $SPACE_M ;
  }
  }

}